.header {
  & .dropdown {
    &:hover {
      .dropdown-content {
        display: flex;
      }
    }

    .dropdown-content {
      scale: 1;
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      width: 150px;
      overflow: auto;
      transition: all 0.3s ease-in-out allow-discrete;

      &:hover {
        display: flex;
      }
      
      @starting-style {
        scale: 0;
      }
    }
  }
}
